<div fxLayout="row">
  <mat-toolbar style="background-color: #007ad9">
      <!-- <span class="title-center">TITLE</span>
      <span class="title-center">TITLE</span>
      <span class="title-center">TITLE</span> -->
      <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary"(click)="getClasses()">Classes</mat-chip>
          <mat-chip color="primary" (click)="getStudents()">Students</mat-chip>
          <mat-chip color="primary"(click)="getTeachers()">Teachers</mat-chip>

        </mat-chip-list>
  </mat-toolbar>
</div>
